.quiz-page{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: auto;
}
.quiz-page-top{
    height: 200px;
    background-color: #fcc822;
    color: white;
    padding: 20px 40px 20px 40px;
    font-size: 25px;
}
.quiz-page-center{
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
}
.quiz-options{
    border: 1px solid black;
    padding: 20px;
    color: black;
    background: lightgray;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}
.quiz-page-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .quiz-button {
    padding: 10px 20px;
    background-color: #fcc822;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quiz-button:hover {
    background-color: #e6ac00;
  }
  
  .result {
    margin: 40px;
    font-weight: bold;
  }
  
  .answer {
    margin-top: 10px;
    font-weight: bold;
    color: green;
  }
  
  .quiz-options.selected {
    background-color: #ffca4b;
  }
  .next-question{
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
  }